<div class="grid__column -desktop-6">
	<div class="grid -pad -collapse">
		<div class="grid__column -desktop-12">
			<h3 class="title -h3">Form</h3>
		</div>
		<div class="grid__column -desktop-6 -tablet-6">
			<input type="text" placeholder="Name" class="input" />
		</div>
		<div class="grid__column -desktop-6 -tablet-6">
			<input type="email" placeholder="Email" class="input" />
		</div>
		<div class="grid__column -desktop-12">
			<textarea rows="3" class="input" placeholder="Text"></textarea>
		</div>
		<div class="grid__column -desktop-6">
			<button class="button">Submit</button>
		</div>
	</div>
</div>