.pagination {
	.page-item.-active {
		.page-link {
			border-color: transparent;
			border-bottom: 0.3rem solid color(pink, 1);
			background-color: transparent;
		}
	}

	.page-item.disabled {
		.page-link {
			border-bottom: 0 none transparent;
			color: color(bw, 2);
		}
	}
}

.pagination-select {
	.btn.disabled,
	.btn.disabled::after,
	.btn.disabled::before {
		background-color: transparent;
	}

	.btn.disabled {
		border: 0 none transparent;
		color: color(bw, 1);
		cursor: default;
	}

	.btn.disabled::after,
	.btn.disabled::before {
		width: 0;
	}
}